<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Password</title>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="../scripts/main.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
</head>

<body>
    <div id="generator-container">
        <h2>Generate a</h2>
        <h2 id="random-password-text">Random Password</h2>

        <div id="password-container">
            <input type="text" placeholder="Password" id="password-box" readonly>
        </div>

        <button onclick="createRandomPassword()"><box-icon name='leaf' color='#ffffff' id="leaf-icon"></box-icon>Generate</button>
    </div>
</body>
</html>